<h1>Match Facts</h1>

<p>
	<b>Date:</b>
	<%= @match.date %>
</p>

<p>
	<b>Match ID:</b>
	<%= @match.id %>
</p>

<p>
  <b>Home Team:</b>
  <%= @match.home_team %><br />
  <%= @match.home_team_odds %><br />
  <%= @match.home_team_wager %>
</p>

<p>
  <b>Away Team:</b>
  <%= @match.away_team %><br />
  <%= @match.away_team_odds %><br />
  <%= @match.away_team_wager %><br />
</p>

<p>
	<b>Result:</b>
	<%= @match.result %>
</p>

