<h1>Listing Matches / Results</h1>
<p>
  <strong>Home Team:</strong>
  <%= @match.home_team %>
</p>
 
<p>
  <strong>Away Team:</strong>
  <%= @match.away_team %>
</p>

<p>
  <strong>Home Team Odds:</strong>
  <%= @match.home_team_odds %>
</p>

<p>
  <strong>Away Team Odds:</strong>
  <%= @match.away_team_odds %>
</p>

<p>
  <strong>Home Team Wager:</strong>
  <%= @match.home_team_wager %>
</p>

<p>
  <strong>Away Team Wager:</strong>
  <%= @match.away_team_wager %>
</p>

<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @match.player1_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @match.player2_id %>
</p>

<%= link_to "Create New Match", new_match_path %>